<div sample-menu></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default" ng-click="reload()">Reload</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in data">
                            <td><a href="#/angular/data/remote/{{client.Id}}">{{client.LastName}}</a></td>
                            <td>{{client.FirstName}}</td>
                            <td>{{client.Company}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
